@model BookBeat.Models.ViewModels.LaterList

@{
    ViewBag.Title = "ListenLater";
    bool? isTrackDeleted = ViewBag.isTrackDeleted;
    bool? isTrackAddedInDiscoverd = ViewBag.isAddedToDiscoverd;
    bool? isAddedToListenLater = ViewBag.isAddedToListenLater;
}

@if (isTrackDeleted == true)
{
    <script>
        alert("Track is removed from your list");
    </script>
}

@if (isTrackAddedInDiscoverd == true)
{
    <script>
        alert("Track is added to your discovered list");
    </script>
}

@if (isAddedToListenLater == true)
{
    <script>
        alert("Track is added to your listen later list");
    </script>
}

<section class="listen-later-list-container">
    @if (Model.Tracks != null && Model.Tracks.Count > 0)
    {
        <div class="col-md-6">
            <h1>Listen later list of @Model.Tracks.First().UserName (Music)</h1>
            <div class="row flex justify-content-center align-items-center">
                @foreach (var track in Model.Tracks)
                {
                    <div class="card mx-4 my-4 p-4" style="width: 18rem;">
                        <!-- Music track details -->
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.Books != null && Model.Books.Count > 0)
    {
        <div class="col-md-6">
            <h1>Listen later list of @Model.Books.First().UserName (Books)</h1>
            <div class="row flex justify-content-center align-items-center">
                @foreach (var book in Model.Books)
                {
                    <div class="card mx-4 my-4 p-4" style="width: 18rem;">
                        <!-- Book details -->
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.Tracks == null || Model.Tracks.Count == 0)
    {
        <div class="col-md-6">
            <h1>You don't have any music tracks in the listen later list</h1>
        </div>
    }

    @if (Model.Books == null || Model.Books.Count == 0)
    {
        <div class="col-md-6">
            <h1>You don't have any books in the read later list</h1>
        </div>
    }
</section>
